.navbar-flores {
    background-color: #42dca3;
    border-color: #42dca3;
    width: 535px;
    left: 31.5%;
    text-align: center;
}

.btn-test {
    color: #fff;
    background-color: #42dca3;
    border-color: #4cae4c;
    left: 17%;
    position: relative;
}

.navbar-flores .navbar-nav > li > a {
    color: white;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flores-footer{
    background-color: #42dca3;
    height: 75px;
}

.flores-footer-text{
    position: relative;
    top:25px;
    color: white;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.test-buttons-container{
    margin: 20px;
}

/*Escencias page*/
.flor-description{
    margin-bottom:25px;
}

.img-thumbnail{
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 125px;
}

.paragraph-justified{
    text-align: justify;
}

.paragraph-flor-description{
    position:relative;
    top: 20px;;
    text-align: left;
}

@media (max-width: 991px) {
    .navbar-flores {
        left: 20.5%;
    }

    .btn-test {
        left: 8%;
    }

    .img-thumbnail{
        width: 100px;
    }

}
@media (max-width: 767px) {
    .navbar-flores {
        width: 100%;
        left: 0px;
    }

    .img-thumbnail{
        width: 75px;
    }

}

